@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add smooth transitions for the modal */
.modal-enter {
    opacity: 0;
  }
  .modal-enter-active {
    opacity: 1;
    transition: opacity 200ms ease-in-out;
  }
  .modal-exit {
    opacity: 1;
  }
  .modal-exit-active {
    opacity: 0;
    transition: opacity 200ms ease-in-out;
  }
